<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

    <div layout:fragment="content">

        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Sleep Data</h5>
                        <p>This shows Sleep data from the OURA API.</p>

                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Bedtime Start</th>
                                <th scope="col">Bedtime End</th>
                                <th scope="col">Efficiency</th>
                                <th scope="col">Lowest HR</th>
                                <th scope="col">Score</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="sleep: ${sleeps}">
                                <td th:text="${sleep.summaryDate}"></td>
                                <td th:text="${sleep.bedtimeStart}"></td>
                                <td th:text="${sleep.bedtimeEnd}"></td>
                                <td th:text="${sleep.efficiency}"></td>
                                <td th:text="${sleep.hrLowest}"></td>
                                <td th:text="${sleep.score}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>

    </div>

</body>
</html>