<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

    <div layout:fragment="content">

        <script th:inline="javascript">
            var activities = [[${activities}]]
        </script>

        <div class="row">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Activity Score</h5>

                    <!-- Score Chart -->
                    <div id="scoreChart"></div>

                    <script>
                        var x = activities.map(x => x["summaryDate"]);
                        var y_score = activities.map(x => x["score"]);
                        document.addEventListener("DOMContentLoaded", () => {
                            new ApexCharts(document.querySelector("#scoreChart"), {
                                series: [{
                                    name: "Score",
                                    data: y_score
                                }],
                                chart: {
                                    height: 400,
                                    type: 'area',
                                    zoom: {
                                        enabled: true
                                    }
                                },
                                dataLabels: {
                                    enabled: false
                                },
                                stroke: {
                                    curve: 'smooth'
                                },
                                grid: {
                                    row: {
                                        colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                                        opacity: 0.5
                                    },
                                },
                                xaxis: {
                                    categories: x,
                                    type: 'datetime'
                                },
                                yaxis: {
                                    min: 0,
                                    max: 100,
                                    tickAmount: 5
                                }
                            }).render();
                        });
                    </script> <!-- End Score Chart -->

                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Calories Burned</h5>

                    <!-- Calory Chart -->
                    <div id="caloryChart"></div>

                    <script>
                        var y_calTotal = activities.map(x => x["calTotal"]);
                        var y_calActive = activities.map(x => x["calActive"]);
                        var y_calTarget = activities.map(x => x["calTarget"]);
                        document.addEventListener("DOMContentLoaded", () => {
                            new ApexCharts(document.querySelector("#caloryChart"), {
                                series: [
                                {
                                    name: "Total kCal",
                                    type: 'area',
                                    data: y_calTotal
                                },
                                {
                                    name: "Active kCal",
                                    type: 'area',
                                    data: y_calActive
                                },
                                {
                                    name: "Target kCal",
                                    type: 'line',
                                    data: y_calTarget
                                }],
                                chart: {
                                    height: 400,
                                    type: 'area',
                                    zoom: {
                                        enabled: true
                                    }
                                },
                                colors: ['#ea6245', '#00E396', '#000000'],
                                dataLabels: {
                                    enabled: false
                                },
                                stroke: {
                                    curve: 'smooth'
                                },
                                grid: {
                                    row: {
                                        colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                                        opacity: 0.5
                                    },
                                },
                                xaxis: {
                                    categories: x,
                                    type: 'datetime'
                                },
                                legend: {
                                    show: false
                                }
                            }).render();
                        });
                    </script> <!-- End Calory Chart -->

                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Kilometers Compared to Target</h5>

                    <!-- Km Chart -->
                    <canvas id="kmChart" style="max-height: 400px;"></canvas>

                    <script>
                        var y_kmTarget = activities.map(x => x["kmTarget"]);
                        var y_kmToTarget = activities.map(x => x["kmToTarget"] * -1.0);
                        document.addEventListener("DOMContentLoaded", () => {
                            Chart.defaults.plugins.legend.display = false;
                            const colours = y_kmToTarget.map((value) => value < 0 ? 'red' : 'green');
                            new Chart(document.querySelector('#kmChart'), {
                                type: 'bar',
                                data: {
                                    labels: x,
                                    datasets: [{
                                        label: 'Target km',
                                        name: 'Target',
                                        type: 'line',
                                        data: y_kmTarget,
                                        fill: true,
                                        borderColor: 'blue',
                                        backgroundColor: 'rgba(176, 224, 230, 0.6)',
                                        tension: 0.4
                                    }, {
                                        label: 'Km compared to target',
                                        name: 'To Target',
                                        type: 'bar',
                                        data: y_kmToTarget,
                                        borderColor: colours,
                                        backgroundColor: colours,
                                        tension: 0.4
                                    }]
                                },
                                options: {
                                    scales: {
                                        x: {
                                            type: 'time',
                                            time: {
                                                unit: 'day',
                                                displayFormats: {
                                                    day: 'dd MMM'
                                                }
                                            },
                                            grid: {
                                                display: false
                                            }
                                        },
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                        });
                    </script> <!-- End Km Chart -->

                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Kilometers Compared to Target (test ApexCharts)</h5>

                    <!-- Km Chart Test -->
                    <div id="kmChartTest"></div>

                    <script>
                        var y_kmTarget = activities.map(x => x["kmTarget"]);
                        var y_kmToTarget = activities.map(x => x["kmToTarget"] * -1.0);
                        document.addEventListener("DOMContentLoaded", () => {
                            new ApexCharts(document.querySelector("#kmChartTest"), {
                                series: [
                                {
                                    name: "Target",
                                    type: 'area',
                                    data: y_kmTarget
                                },
                                {
                                    name: "Over Target",
                                    type: 'bar',
                                    data: y_kmToTarget
                                }],
                                chart: {
                                    height: 400,
                                    type: 'bar',
                                    zoom: {
                                        enabled: true
                                    }
                                },
                                colors: [
                                    function({ value, seriesIndex, w }) {
                                        //console.log(w.config.series[seriesIndex].name);
                                        //console.log(seriesIndex);
                                        if (seriesIndex == 0) {
                                            return '#9897a9'
                                        } else {
                                            if (value < 0) {
                                                return '#f15b46'
                                            } else {
                                                if (value < 0) {
                                                    return '#f15b46'
                                                } else {
                                                    return '#008000'
                                                }
                                            }
                                        }
                                    }
                                ],
                                dataLabels: {
                                    enabled: false
                                },
                                stroke: {
                                    curve: 'smooth'
                                },
                                grid: {
                                    row: {
                                        colors: ['#ffff99'], // takes an array which will be repeated on columns
                                        opacity: 0.5
                                    },
                                },
                                xaxis: {
                                    categories: x,
                                    type: 'datetime'
                                },
                                legend: {
                                    show: false
                                }
                            }).render();
                        });
                    </script> <!-- End Km Chart Test -->

                </div>
            </div>

        </div>

    </div>

</body>
</html>