<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

    <div layout:fragment="content">

        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Activity Data</h5>
                        <p>This shows Activity data from the OURA API.</p>

                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Total Calories</th>
                                <th scope="col">Active Calories</th>
                                <th scope="col">Steps</th>
                                <th scope="col">Target (km)</th>
                                <th scope="col">Compared To Target (km)</th>
                                <th scope="col">Score</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="activity: ${activities}">
                                <td th:text="${activity.summaryDate}"></td>
                                <td th:text="${activity.calTotal}"></td>
                                <td th:text="${activity.calActive}"></td>
                                <td th:text="${activity.steps}"></td>
                                <td th:text="${activity.kmTarget}"></td>
                                <td th:text="${activity.kmToTarget}"></td>
                                <td th:text="${activity.score}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>

    </div>

</body>
</html>